<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="LOG_FILE_ALL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/app/logs/es/access.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="Append" value="true"/>
		<param name="encoding" value="UTF-8"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[es][%d{yyyy-MM-dd HH:mm:ss SSS}] %p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>        
    </appender>	
    
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    	<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[es][%d{yyyy-MM-dd HH:mm:ss SSS}] %p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE_ALL"/>
    </root>

</log4j:configuration>
