<footer>
	<div class="wrapper footer">
		<ul>
			<li class="links">
				<ul>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Team</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</li>

			<li class="links">
				<ul>
					<li>
						<a href="#">Wang Chloe</a>
					</li>
					<li>
						<a href="#">Wang Yi</a>
					</li>
					<li>
						<a href="#">Fei Yue</a>
					</li>
					<li>
						<a href="#">...</a>
					</li>
				</ul>
			</li>

			<li class="links">
				<ul>
					<li>
						<a href="#">Shang Hai</a>
					</li>
					<li>
						<a href="#">Normal</a>
					</li>
					<li>
						<a href="#">University</a>
					</li>
					
						<a href="#">...</a>
					</li>
				</ul>
			</li>

			<li class="about">
				<p>
					Dare U 
				</p>
				<p>
					Express Substitute Management System
				</p>
				<ul>
					<li>
						<a href="#" class="facebook" target="_blank"></a>
					</li>
					<li>
						<a href="#" class="twitter" target="_blank"></a>
					</li>
					<li>
						<a href="h#" class="google" target="_blank"></a>
					</li>
					<li>
						<a href="#" class="skype"></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="copyrights wrapper">
		<p>本站所用图片来源：@阿亮学长 <a href="http://weibo.com/u/2248032692" target="_blank"><i class="icon-weibo"></i></a></p>
		Copyright © 2016 上海师范大学  袋U快递代理系统项目组
	</div>
</footer>