<div class="modall reg h">
	<form action="http://localhost:8080/esms/user/register.do">
		<input type="text" class="form-control" id="user.name" name="user.name" placeholder="姓名">	
		<input type="text" class="form-control" id="user.userNo" name="user.userNo" placeholder="学号">	
		<input type="text" class="form-control" id="user.dorm" name="user.dorm" placeholder="宿舍楼">	
		<input type="text" class="form-control" id="user.mobile" name="user.mobile" placeholder="手机号">	
		<input type="password" class="form-control" id="user.pwd" name="user.pwd" placeholder="密码">	
		<button type="submit" class="btn btn-default i-btn ">注册</button>
		<a class="login">已有账户？立即登录 &gt;</a>
	</form>
</div>
<div class="modall log h">
	<form action="http://localhost:8080/esms/user/login.do">
		<input type="text" class="form-control" id="user.mobile" name="user.mobile" placeholder="手机号">	
		<input type="password" class="form-control" id="user.pwd" name="user.pwd" placeholder="密码">	
		<button type="submit" class="btn btn-default i-btn ">登录</button>
		<a class="register">还没有账户？立即注册 &gt;</a>
	</form>
</div>
<div class="modall est h">
	<form action="http://localhost:8080/esms/orderBase/establish.do">
		<input type="text" class="form-control" id="orderBase.id" name="orderBase.id" placeholder="收件人ID">	
		<input type="text" class="form-control" id="orderBase.inc" name="orderBase.inc" placeholder="快递公司">	
		<input type="text" class="form-control" id="orderBase.typ" name="orderBase.typ" placeholder="快递种类">	
		<input type="text" class="form-control" id="orderBase.price" name="orderBase.price"  placeholder="期望金额">	
		<input type="text" class="form-control" id="orderBase.tTime" name="orderBase.tTime" placeholder="代领时间">	
		<input type="text" class="form-control" id="orderBase.sTime" name="orderBase.sTime" placeholder="送货时间">	
		<input type="text" class="form-control" id="orderBase.notes" name="orderBase.notes" placeholder="备注信息">	
		<button type="submit" class="btn btn-default i-btn ">下单</button>
	</form>
</div>