
.icon-weibo:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-bookmark:before { content: '\e805'; } /* '' */
.icon-off:before { content: '\e806'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */